# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# mac os system files
.DS_Store

# serveraddress text file
serveraddress.txt

# data directories
data/
logs/
ref/
